<section class="literature">
	<h4 class="page__title mod-left">Литература</h4>
	<ul class="literature__list">
		<li class="literature__item">Müller G et al. Diabetes Res Clin Pract 1995;28 (Suppl) : S115–37;</li>
		<li class="literature__item">Massi-Benedetti M. Clin Ther 2003;25:799–816.</li>
		<li class="literature__item">Инструкция по медицинскому применению препарата Амарил®.</li>
		<li class="literature__item">Зайцева Н. В. с соавт. Применение комбинированной терапии глимепиридом и метформином у пациентов с сахарным <br> диабетом 2 типа. Результаты российского обсервационного исследования. Фарматека 2014 №16.</li>
		<li class="literature__item">Глинкина И. В. с соавт. Эффективность и безопасность свободной комбинации глимепирида и метформина у пациентов с сахарным диабетом 2-го типа в условиях реальной клинической практики: наблюдательная программа //Эффективная фармакотерапия. Эндокринология 2/2012: 16-20.</li>
		<li class="literature__item">Мкртумян А. М. Результаты наблюдательного исследования ESCALATION: особенности применения глимепирида у пациентов с сахарным диабетом 2-го типа, не достигших целевых показателей углеводного обмена на фоне терапии ингибитором ДПП-4 в комбинации с метформином. Проблемы эндокринологии. 2017; 1: 30-38.</li>
	</ul>
	<p class="literature__desc">SARU.GLI.17.10.1861.</p>
</section>