
<div class="rubric">
	<div class="rubric__row">
		<div class="rubric__pic">
			<img src="static/img/content/blood-test.svg" class="rubric__img " alt="picture">
		</div>
		<p class="rubric__desc">
			Глимепирид — единственный препарат сульфонилмочевины, воздействующий на два механизма повышения уровня сахара крови при сахарном диабете 2 типа. Препарат стимулирует секрецию инсулина и снижает инсулинорезистентность1,2,3;
		</p>
	</div>
	<div class="rubric__row">
		<div class="rubric__pic">
			<img src="static/img/content/arrow.svg" class="rubric__img " alt="picture">
		</div>
		<p class="rubric__desc">
			За счет двойного механизма действия глимепирид обеспечивает сахароснижающий эффект3. Глимепирид демонстрирует низкий риск развития гипогликемии в условиях реальной клинической практики в России4,5,6;
		</p>
	</div>
	<div class="rubric__row">
		<div class="rubric__pic">
			<img src="static/img/content/cell.svg" class="rubric__img " alt="picture">
		</div>
		<p class="rubric__desc">
			Глимепирид бережно воздействует на бета-клетки, защищая их от преждевременного истощения1,2.
		</p>
	</div>
</div>