footer.footer
	.layout.layout-flex
		p.copy © 2017 НПС-Автоматика <br> All right reserved
		.socio
			a(href="#").socio__item.socio-vk
				img(src="static/img/icons/icon-vk.png", alt="").socio__img
			a(href="#").socio__item.socio-tw
				img(src="static/img/icons/icon-tw.png", alt="").socio__img
			a(href="#").socio__item.socio-f
				img(src="static/img/icons/icon-f.png", alt="").socio__img
		nav.footer__nav
			ul.simple-nav
				li.simple-nav__item
					a(href='#').simple-nav__link О компании
				li.simple-nav__item
					a(href='#').simple-nav__link Оптовикам
				li.simple-nav__item
					a(href='#').simple-nav__link Как купить
				li.simple-nav__item
					a(href='#').simple-nav__link Доставка
				li.simple-nav__item
					a(href='#').simple-nav__link Контакты
