-var catalog = [ {item: {pic: "static/svg/menu/01.svg", text: "Противотаранные барьеры"}}, {item: {pic: "static/svg/menu/02.svg", text: "Парковочные столбики"}}, {item: {pic: "static/svg/menu/03.svg", text: "Парковочные барьеры"}}, {item: {pic: "static/svg/menu/04.svg", text: "Колесоотбойники"}}, {item: {pic: "static/svg/menu/05.svg", text: "Передвижные ограждения"}}, {item: {pic: "static/svg/menu/06.svg", text: "Пешеходные ограждения"}}, {item: {pic: "static/svg/menu/07.svg", text: "Строительные ограждения"}}, {item: {pic: "static/svg/menu/08.svg", text: "Защита для стеллажей"}}, {item: {pic: "static/svg/menu/09.svg", text: "Велопарковки"}}, {item: {pic: "static/svg/menu/10.svg", text: "Шлагбаум механический"}}, {item: {pic: "static/svg/menu/11.svg", text: "Опоры для знаков"}}, {item: {pic: "static/svg/menu/12.svg", text: "Кронштейны для зеркал"}}, {item: {pic: "static/svg/menu/13.svg", text: "Лежачие полицейские (ИДН)"}}, {item: {pic: "static/svg/menu/14.svg", text: "Делиниаторы"}}, {item: {pic: "static/svg/menu/15.svg", text: "Кабель-каналы"}}, {item: {pic: "static/svg/menu/16.svg", text: "Съезды с бордюра"}}];

header.header
	.header__top
		.layout.layout-flex
			.header-w.header-l
				.catalog
					.catalog__header
						//- .burger
						button.btn-menu
							span
							span
							span
						b.catalog__title каталог продукции
					nav.catalog__nav
						ul.menu
							each li in catalog
								li.menu__list
									.menu__list_wrap
										img(src=li.item.pic).menu__img
										a(href="#").menu__link #{li.item.text}

				a(href="#").logo
					//- img(src='static/svg/logo-small.svg', alt='logo').logo__img
					svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 709.012 255.031', style='enable-background:new 0 0 709.012 255.031;', xml:space='preserve')

						g
							path.st10(d='M52.754,27.293l5.074,10.66c4.231-0.094,16.614-8.496,35.84-0.809c3.817,1.524,6.973,3.739,10.36,5.887\
							C103.633,44.73,90.676,66.746,88.77,69.91l-25.863,45.211c-5.157-1.199-15.598-8.547-18.399-13.074l-9.015-22.969L23.309,80.09\
							c0.629,7.574,3.766,17.566,7.613,23.355c6.145,9.254,12.692,16.559,23.36,21.317c10.347,4.617,25.472,6.797,36.519,3.535\
							l10.692-4.035l-5.079-11.172l-21.324,4.57c0.473-1.766,3.41-6.453,4.477-8.215l32.586-56.769c4.015,2.945,6.07,15.07,7.105,19.8\
							l12.188-1.015c-0.543-6.488-3.321-14.918-5.586-19.801c-0.617-1.332-1.387-2.394-2.25-3.84\
							c-6.071-10.152-13.313-15.851-23.641-21.035c-11-5.523-24.535-6.215-36.258-3.258C59.129,24.684,55.426,26.668,52.754,27.293\
							L52.754,27.293z M75.332,0c24.594,0,46.434,11.789,60.18,30.019C149.262,11.789,171.102,0,195.696,0\
							c41.601,0,75.332,33.726,75.332,75.332c0,38.379-28.707,70.059-65.817,74.734c3.895,9.098,6.055,19.114,6.055,29.633\
							c0,41.606-33.727,75.332-75.332,75.332c-41.606,0-75.332-33.726-75.332-75.332c0-10.484,2.144-20.469,6.019-29.539\
							C29.121,145.84,0,113.988,0,75.332C0,33.726,33.727,0,75.332,0L75.332,0z M75.332,9.68c26.918,0,50.051,16.203,60.18,39.386\
							C145.645,25.883,168.778,9.68,195.696,9.68c36.257,0,65.652,29.394,65.652,65.652s-29.395,65.652-65.652,65.652\
							c-2.371,0-4.711-0.129-7.012-0.375c8.105,10.922,12.902,24.446,12.902,39.09c0,36.262-29.394,65.652-65.652,65.652\
							s-65.652-29.39-65.652-65.652c0-14.691,4.828-28.254,12.98-39.191c-2.598,0.312-5.246,0.476-7.93,0.476\
							c-36.257,0-65.652-29.394-65.652-65.652S39.075,9.68,75.332,9.68L75.332,9.68z M140.582,114.105v-10.152l-10.152,9.137\
							l-4.57-6.598l-4.571,1.524c1.414,6.07,5.36,8.437,10.157,11.168c1.429-2.133,3.527-3.52,5.582-5.079\
							c-0.508,2.18-0.27,3.989,0,6.094c12.515-2.918,10.523-3.48,15.738-16.246l-4.566-0.508\
							C147.809,108.129,145.344,113,140.582,114.105L140.582,114.105z M120.782,102.43v1.523c6.117,0,4.57,0.25,5.25-2.875\
							c0.832-3.84,3.05-4.707,6.937-7.785v10.152c1.899-0.508,8.219-7.304,10.152-9.136c0.707,0.964,0.532,0.582,1.223,1.316\
							c2.121,2.266,1.727,2.117,3.348,5.281l4.566-1.015c-0.484-5.821-5.625-8.321-9.754-11.278l-5.476,5.188v-6.094\
							c-4.825,0-8.473,1.793-11.055,4.176C123.817,93.871,120.782,98.519,120.782,102.43L120.782,102.43z M92.352,152.691v56.352\
							c0,3.461,12.508,13.875,17.433,16.582c3.915,2.152,7.344,3.851,12.211,5.051c6.137,1.511,4.93,1.437,10.692,1.851\
							c16.324,1.176,28.121-3.441,40.746-13.988c2.875-2.402,5.508-6.387,7.762-9.496c-1.481-0.395-7.649-4.91-9.645-6.09\
							c-1.301,0.871-1.898,1.879-2.93,3.164c-1.554,1.942-1.296,1.82-3.23,3.367c-7.531,6.032-14.625,11.262-27.34,11.25\
							c-10.035-0.008-20.723-3.113-27.644-9.437l-6.379-6.821v-46.707c0-1.484,5.789-6.668,7.554-8.187\
							c3.071-2.633,11.403-6.113,15.286-7.051c2.351-0.57,8.75-1.687,11.453-1.324c10.699,1.437,14.91,2.215,23.582,8.437\
							c4.918,3.532,5.3,4.868,9.648,10.157c1.738-0.465,8.567-5.508,10.152-6.602c-0.968-1.453-1.992-3.012-3.191-4.422\
							c-0.742-0.871-1.266-1.222-2.004-2.054c-4.269-4.805-4.894-5.469-10.949-9.364c-3.84-2.472-6.086-3.359-10.68-5.058\
							c-10.285-3.032-14.277-2.965-23.941-2.965c-3.469,0-9.516,2.07-12.254,2.98c-4.149,1.375-7.356,2.985-10.598,5.137l-8.59,6.645\
							C97.875,145.66,92.352,151.457,92.352,152.691L92.352,152.691z M142.106,71.461l12.183,1.015c0.532-6.394,2.211-9.91,4.207-14.578\
							c1.5-3.507,0.372-1.793,2.684-4.933c6.004-8.153,9.027-11.317,19.172-15.856c3.379-1.515,7.973-2.734,12.09-3.144\
							c6.437-0.641,7.597-0.098,13.144,0.926c8.633,1.589,7.098,3.988,14.543,16.425l16.778,28.946c1.3,2.336,0.925,2.738,0.254,5.515\
							c-0.708,2.918-1.149,3.824-2.075,6.067c-0.91,2.199-2.492,5.367-3.847,7.32c-0.68,0.977-1.133,1.355-1.817,2.246\
							c-3.871,5.039-10.758,11.262-17.176,13.285l-12.773,2.965c-7.863,0.902-14.77-1.441-21.836-4.062l-5.07,10.664\
							c7.234,1.988,16.554,5.582,23.863,5.582c7.738,0,15.773-1.7,21.16-4.223c3.805-1.785,8.817-4.652,12.141-7.148\
							c3.492-2.622,6.738-6.539,9.414-9.879c2.047-2.563,3.609-4.86,5.176-8.024c2.879-5.808,5.281-13.535,5.922-19.972\
							c0.093-0.946-24.317-42.707-25.211-44.34l-5.188-9.028c-3.301-3.195-19.887-5.523-24.937-5.523\
							c-13.297,0-26.789,6.152-36.188,15.094c-2.863,2.722-6.023,7.121-8.289,10.492c-1.102,1.637-1.441,2.465-2.449,4.152\
							C143.391,59.121,143.239,69.105,142.106,71.461L142.106,71.461z M142.106,71.461')
							path.st0(d='M324.578,50.613h12.372v35.172h71.441V50.613h12.371v82.965h-12.371V96.945H336.95v36.633h-12.372V50.613z\
							M439.688,50.613h96.062v82.965h-12.371V61.773h-71.32v71.805h-12.371V50.613z M566.922,92.215c0,15.125,1.617,24.14,4.852,27.051\
							c3.234,2.91,13.179,4.363,29.836,4.363c15.445,0,24.867-0.848,28.265-2.543c3.961-2.024,5.942-7.485,5.942-16.375h12.371\
							c0,13.18-2.746,21.488-8.246,24.926c-5.5,3.437-18.278,5.152-38.332,5.152c-20.457,0-33.395-2.426-38.809-7.277\
							c-5.422-4.852-8.129-16.618-8.129-35.297c0-18.84,2.668-30.684,8.004-35.539c5.336-4.852,18.317-7.278,38.934-7.278\
							c20.218,0,33.035,1.7,38.453,5.094c5.418,3.399,8.125,11.727,8.125,24.988h-12.371c0-8.894-1.821-14.25-5.457-16.07\
							c-3.641-1.82-13.223-2.73-28.75-2.73c-16.735,0-26.703,1.437-29.899,4.308C568.52,67.859,566.922,76.934,566.922,92.215\
							L566.922,92.215z M665.168,86.152h41.727v11.16h-41.727V86.152z M665.168,86.152')
							path.st1(d='M324.578,50.614h12.372v35.172h71.441V50.614h12.371v82.965h-12.371V96.946H336.95v36.633h-12.372V50.614z\
							M439.688,50.614h96.062v82.965h-12.371V61.774h-71.32v71.805h-12.371V50.614z M566.922,92.215\
							c0,15.125,1.617,24.141,4.852,27.051c3.234,2.91,13.179,4.363,29.836,4.363c15.445,0,24.867-0.847,28.265-2.543\
							c3.961-2.023,5.942-7.484,5.942-16.375h12.371c0,13.18-2.746,21.489-8.246,24.926c-5.5,3.438-18.278,5.152-38.332,5.152\
							c-20.457,0-33.395-2.425-38.809-7.277c-5.422-4.851-8.129-16.617-8.129-35.297c0-18.84,2.668-30.683,8.004-35.539\
							c5.336-4.851,18.317-7.277,38.934-7.277c20.218,0,33.035,1.699,38.453,5.094c5.418,3.398,8.125,11.726,8.125,24.988h-12.371\
							c0-8.895-1.821-14.25-5.457-16.07c-3.641-1.821-13.223-2.731-28.75-2.731c-16.735,0-26.703,1.438-29.899,4.309\
							C568.52,67.86,566.922,76.934,566.922,92.215L566.922,92.215z M665.168,86.153h41.727v11.16h-41.727V86.153z M665.168,86.153')
							path.st0(d='M337.25,159.5l14.848,28.211h-4.742l-3.344-6.27h-20.125l-3.301,6.27h-4.746l14.848-28.211H337.25z\
							M342.2,177.687l-7.672-14.804h-1.071l-7.675,14.804H342.2z M388.024,179.461c0,2.781-0.762,4.848-2.289,6.211\
							c-1.528,1.359-3.762,2.039-6.703,2.039h-22.645V159.5h21.656c2.887,0,5.098,0.684,6.641,2.062\
							c1.539,1.375,2.309,3.352,2.309,5.938c0,2.832-1.059,4.648-3.176,5.445c1.211,0.414,2.176,1.102,2.886,2.063\
							C387.586,176.191,388.024,177.676,388.024,179.461L388.024,179.461z M382.828,167.5c0-1.293-0.328-2.281-0.992-2.969\
							c-0.797-0.828-2.062-1.238-3.793-1.238h-17.449v8.004h17.449c1.785,0,3.032-0.313,3.731-0.93\
							C382.477,169.75,382.828,168.793,382.828,167.5L382.828,167.5z M360.594,175.09v8.828h18.399c1.593,0,2.796-0.406,3.609-1.219\
							c0.809-0.808,1.215-1.875,1.215-3.195c0-1.293-0.41-2.352-1.235-3.176c-0.828-0.824-2.023-1.238-3.589-1.238H360.594z\
							M393.391,159.5h29.488v3.793h-12.621v24.418h-4.207v-24.418h-12.66V159.5z M444.782,188.125c-5.856,0-9.954-0.379-12.293-1.133\
							c-2.336-0.758-3.821-2.195-4.454-4.312c-0.441-1.457-0.66-4.469-0.66-9.032c0-4.648,0.207-7.66,0.621-9.035\
							c0.629-2.144,2.129-3.601,4.493-4.371c2.367-0.769,6.464-1.156,12.293-1.156c5.859,0,9.949,0.379,12.273,1.133\
							c2.324,0.757,3.813,2.207,4.477,4.351c0.437,1.457,0.656,4.485,0.656,9.078c0,4.618-0.207,7.618-0.617,8.989\
							c-0.633,2.148-2.118,3.597-4.457,4.355C454.778,187.746,450.668,188.125,444.782,188.125L444.782,188.125z M444.782,184.332\
							c6.488,0,10.312-0.484,11.468-1.445c1.153-0.961,1.731-4.043,1.731-9.239c0-5.226-0.57-8.32-1.711-9.281\
							c-1.141-0.965-4.973-1.445-11.488-1.445c-6.516,0-10.348,0.48-11.489,1.445c-1.14,0.961-1.711,4.055-1.711,9.281\
							c0,5.168,0.579,8.243,1.731,9.215C434.469,183.84,438.293,184.332,444.782,184.332L444.782,184.332z M476.789,159.5l14.602,23.18\
							l14.602-23.18h7.507v28.211h-4.164v-24.418h-0.828l-15.797,24.418h-2.636l-15.801-24.418h-0.785v24.418h-4.207V159.5H476.789z\
							M541.344,159.5l14.848,28.211h-4.742l-3.344-6.27h-20.129l-3.297,6.27h-4.746l14.848-28.211H541.344z M546.293,177.687\
							l-7.672-14.804h-1.074l-7.672,14.804H546.293z M559.493,159.5h29.492v3.793H576.36v24.418h-4.207v-24.418h-12.66V159.5z\
							M628.168,159.5h-6.148l-24.211,24.746V159.5h-4.207v28.211h6.351l24.008-24.5v24.5h4.207V159.5z M635.551,187.711V159.5h4.207\
							v11.422h4.207l17.078-11.422h7.219l-19.801,13.281l21.078,14.93h-6.929l-18.645-12.992h-4.207v12.992H635.551z M694.164,159.5\
							l14.848,28.211h-4.742l-3.34-6.27h-20.129l-3.301,6.27h-4.746l14.852-28.211H694.164z M699.114,177.687l-7.672-14.804h-1.071\
							l-7.675,14.804H699.114z M699.114,177.687')
							path.st1(d='M337.25,159.5l14.848,28.211h-4.742l-3.344-6.269h-20.125l-3.301,6.269h-4.746l14.848-28.211H337.25z\
							M342.2,177.688l-7.672-14.805h-1.071l-7.675,14.805H342.2z M388.024,179.461c0,2.782-0.762,4.848-2.289,6.211\
							c-1.528,1.36-3.762,2.039-6.703,2.039h-22.645V159.5h21.656c2.887,0,5.098,0.684,6.641,2.063c1.539,1.375,2.309,3.351,2.309,5.937\
							c0,2.832-1.059,4.649-3.176,5.446c1.211,0.414,2.176,1.101,2.886,2.062C387.586,176.192,388.024,177.675,388.024,179.461\
							L388.024,179.461z M382.828,167.5c0-1.293-0.328-2.281-0.992-2.968c-0.797-0.829-2.062-1.239-3.793-1.239h-17.449v8.004h17.449\
							c1.785,0,3.032-0.312,3.731-0.929C382.477,169.75,382.828,168.792,382.828,167.5L382.828,167.5z M360.594,175.09v8.828h18.399\
							c1.593,0,2.796-0.406,3.609-1.218c0.809-0.809,1.215-1.875,1.215-3.196c0-1.293-0.41-2.351-1.235-3.175\
							c-0.828-0.825-2.023-1.239-3.589-1.239H360.594z M393.391,159.5h29.488v3.793h-12.621v24.418h-4.207v-24.418h-12.66V159.5z\
							M444.782,188.125c-5.856,0-9.954-0.379-12.293-1.132c-2.336-0.758-3.821-2.196-4.454-4.313c-0.441-1.457-0.66-4.469-0.66-9.031\
							c0-4.649,0.207-7.66,0.621-9.035c0.629-2.145,2.129-3.602,4.493-4.371c2.367-0.77,6.464-1.157,12.293-1.157\
							c5.859,0,9.949,0.379,12.273,1.133c2.324,0.758,3.813,2.207,4.477,4.352c0.437,1.457,0.656,4.484,0.656,9.078\
							c0,4.617-0.207,7.617-0.617,8.988c-0.633,2.149-2.118,3.598-4.457,4.356C454.778,187.746,450.668,188.125,444.782,188.125\
							L444.782,188.125z M444.782,184.332c6.488,0,10.312-0.484,11.468-1.445c1.153-0.961,1.731-4.043,1.731-9.238\
							c0-5.227-0.57-8.32-1.711-9.281c-1.141-0.965-4.973-1.446-11.488-1.446c-6.516,0-10.348,0.481-11.489,1.446\
							c-1.14,0.961-1.711,4.054-1.711,9.281c0,5.168,0.579,8.242,1.731,9.215C434.469,183.84,438.293,184.332,444.782,184.332\
							L444.782,184.332z M476.789,159.5l14.602,23.18l14.602-23.18h7.507v28.211h-4.164v-24.418h-0.828l-15.797,24.418h-2.636\
							l-15.801-24.418h-0.785v24.418h-4.207V159.5H476.789z M541.344,159.5l14.848,28.211h-4.742l-3.344-6.269h-20.129l-3.297,6.269\
							h-4.746l14.848-28.211H541.344z M546.293,177.688l-7.672-14.805h-1.074l-7.672,14.805H546.293z M559.493,159.5h29.492v3.793\
							H576.36v24.418h-4.207v-24.418h-12.66V159.5z M628.168,159.5h-6.148l-24.211,24.746V159.5h-4.207v28.211h6.351l24.008-24.5v24.5\
							h4.207V159.5z M635.551,187.711V159.5h4.207v11.422h4.207l17.078-11.422h7.219l-19.801,13.282l21.078,14.929h-6.929\
							l-18.645-12.992h-4.207v12.992H635.551z M694.164,159.5l14.848,28.211h-4.742l-3.34-6.269h-20.129l-3.301,6.269h-4.746\
							l14.852-28.211H694.164z M699.114,177.688l-7.672-14.805h-1.071l-7.675,14.805H699.114z M699.114,177.688')

			.header-w.header-r
				.info
					button.btn-menu.js-menu
						span
						span
						span
					nav.guide
						ul.guide__list
							li.guide__item.has-sub.is-active
								a(href="#").guide__link О компании
								ul.subguide
									li.subguide__item
										a(href="#").subguide__link Производство
									li.subguide__item
										a(href="#").subguide__link Стать партнером
									li.subguide__item
										a(href="#").subguide__link Наши работы
									li.subguide__item
										a(href="#").subguide__link Дилеры
									li.subguide__item
										a(href="#").subguide__link Монтаж и гарантии
									li.subguide__item
										a(href="#").subguide__link Вопросы и ответы
									li.subguide__item
										a(href="#").subguide__link Новости
									li.subguide__item
										a(href="#").subguide__link Сертификаты
									li.subguide__item
										a(href="#").subguide__link Вакансии
							li.guide__item
								a(href="#").guide__link Оптовикам
							li.guide__item.is-active
								a(href="#").guide__link Как купить
							li.guide__item
								a(href="#").guide__link Доставка
							li.guide__item
								a(href="#").guide__link Контакты
				.phone
					svg#icon-phone(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 378.494 379.043', style='enable-background:new 0 0 378.494 379.043;', xml:space='preserve')
						g.st0
							path(d='M299.29,234.805c-7.762-8.078-17.121-12.398-27.039-12.398c-9.84,0-19.281,4.238-27.359,12.32l-25.282,25.199\
							c-2.082-1.121-4.16-2.16-6.16-3.199c-2.879-1.441-5.601-2.801-7.922-4.242c-23.679-15.039-45.199-34.641-65.839-60\
							c-10-12.641-16.719-23.282-21.598-34.078c6.558-6,12.64-12.243,18.558-18.243c2.243-2.238,4.481-4.558,6.723-6.8\
							c16.797-16.797,16.797-38.559,0-55.36l-21.844-21.84c-2.476-2.48-5.039-5.039-7.437-7.597\
							c-4.801-4.961-9.84-10.082-15.039-14.883c-7.762-7.68-17.043-11.758-26.801-11.758c-9.762,0-19.199,4.078-27.199,11.758\
							l-0.16,0.16L17.689,61.286C7.45,71.524,1.61,84.004,0.329,98.485c-1.918,23.359,4.961,45.121,10.242,59.359\
							c12.957,34.961,32.321,67.359,61.2,102.082c35.039,41.84,77.199,74.879,125.359,98.16c18.398,8.719,42.961,19.039,70.398,20.797\
							c1.684,0.082,3.442,0.16,5.043,0.16c18.481,0,34-6.636,46.16-19.84c0.079-0.16,0.239-0.238,0.321-0.398\
							c4.16-5.039,8.957-9.602,14-14.48c3.437-3.282,6.957-6.719,10.398-10.321c7.922-8.238,12.078-17.84,12.078-27.679\
							c0-9.918-4.238-19.442-12.316-27.442L299.29,234.805z M327.931,319.043C327.849,319.043,327.849,319.125,327.931,319.043\
							c-3.121,3.364-6.321,6.403-9.762,9.762c-5.199,4.961-10.48,10.16-15.438,16c-8.082,8.641-17.601,12.719-30.082,12.719\
							c-1.199,0-2.48,0-3.679-0.078c-23.758-1.52-45.84-10.801-62.399-18.719c-45.281-21.922-85.043-53.043-118.082-92.481\
							c-27.277-32.882-45.519-63.281-57.597-95.921c-7.442-19.918-10.161-35.442-8.961-50.079c0.8-9.363,4.398-17.121,11.039-23.761\
							l27.281-27.282c3.918-3.679,8.078-5.679,12.16-5.679c5.039,0,9.117,3.043,11.68,5.601l0.238,0.239\
							c4.883,4.562,9.52,9.281,14.402,14.32c2.481,2.562,5.04,5.121,7.598,7.762l21.84,21.84c8.48,8.48,8.48,16.32,0,24.8\
							c-2.32,2.321-4.559,4.641-6.879,6.879c-6.719,6.879-13.121,13.281-20.078,19.52c-0.16,0.16-0.32,0.242-0.402,0.398\
							c-6.879,6.883-5.598,13.602-4.161,18.16l0.243,0.723c5.679,13.758,13.679,26.719,25.839,42.16l0.079,0.078\
							c22.082,27.199,45.359,48.403,71.039,64.641c3.281,2.082,6.64,3.762,9.84,5.359c2.882,1.442,5.601,2.801,7.921,4.242\
							c0.321,0.161,0.641,0.399,0.961,0.559c2.719,1.359,5.278,2,7.918,2c6.641,0,10.801-4.16,12.16-5.519l27.36-27.36\
							c2.722-2.723,7.043-6,12.082-6c4.961,0,9.039,3.117,11.519,5.84l44.239,44.238C336.091,302.164,336.091,310.567,327.931,319.043\
							L327.931,319.043z M327.931,319.043')
							path(d='M204.571,90.164c20.957,3.52,40,13.442,55.2,28.641c15.199,15.199,25.039,34.238,28.64,55.199\
							c0.879,5.282,5.438,8.961,10.641,8.961c0.637,0,1.199-0.082,1.84-0.16c5.918-0.961,9.839-6.559,8.879-12.48\
							c-4.321-25.36-16.321-48.481-34.641-66.801c-18.32-18.321-41.441-30.321-66.801-34.641c-5.918-0.957-11.437,2.961-12.48,8.801\
							C194.81,83.524,198.649,89.203,204.571,90.164L204.571,90.164z M204.571,90.164')
							path(d='M378.329,167.203c-7.117-41.757-26.801-79.757-57.039-110c-30.238-30.238-68.238-49.917-110-57.039\
							c-5.84-1.039-11.359,2.961-12.398,8.801c-0.961,5.918,2.957,11.442,8.879,12.481c37.281,6.32,71.281,24,98.32,50.961\
							c27.039,27.039,44.64,61.039,50.961,98.32c0.879,5.277,5.437,8.957,10.637,8.957c0.64,0,1.203-0.078,1.839-0.16\
							C375.372,178.645,379.372,173.043,378.329,167.203L378.329,167.203z M378.329,167.203')
					.phone__box
						a(href="tel:88005554939").phone__link 8 800 555 49 39
						a(href="tel:88005554939").phone__link 8 800 555 49 39
				.search
					a(href="#").btn-seach
						img(src="static/svg/lupa.svg", alt="").search__icon
					.header__search
						form(action="/", method="POST", autocomplete="off").search__form
							fieldset.search__field
								input(type="text", name="mainSearch").search__input
								label.search__label
									span.search__label_text Поиск по товару, например
									a(href="#").search__label_link Парковочные столбики
								img(src="static/img/icons/icon-lupa.png", alt="").icon-lupa
				button(type="submit").btn.btn_search заказать
