.pocket.pocket-news
	.pocket__item
		a(href="#").pocket__pic
			img(src='static/img/proekt/01.jpg', alt='изображение').pocket__img
		.pocket__content
			.pocket__label
				p.pocket__label_desc 24
					span июл
			.pocket__text
				h5.pocket__title
					a(href="#").pocket__title_link Акция "Успей получить новогодний подарок!"
				p.pocket__desc В Fitness&Spa Скандинавского Центра Здоровья с 1 по 31 декабря 2016 г. проходит акция «Успей получить новогодний подарок!».
