.prod
	a(href="#").prod__item
		.prod__pic.prod__pic-slide
			img(src="static/img/proekt/01.jpg", alt="picture").prod__img
		.prod__footer
			p.prod__title Противотаранные барьеры
.prod
	a(href="#").prod__item
		.prod__pic.prod__pic-slide
			img(src="static/img/proekt/02.jpg", alt="picture").prod__img
		.prod__footer
			p.prod__title Противотаранные барьеры
.prod
	a(href="#").prod__item
		.prod__pic.prod__pic-slide
			img(src="static/img/proekt/03.jpg", alt="picture").prod__img
		.prod__footer
			p.prod__title Противотаранные барьеры

.prod
	a(href="#").prod__item
		.prod__pic.prod__pic-slide
			img(src="static/img/proekt/04.jpg", alt="picture").prod__img
		.prod__footer
			p.prod__title Противотаранные барьеры


