.prod
	a(href="#").prod__item
		.prod__pic
			img(src="static/img/prod/01.jpg", alt="picture").prod__img
		.prod__footer
			p.prod__title Противотаранные барьеры
.prod
	a(href="#").prod__item
		.prod__pic
			img(src="static/img/prod/02.jpg", alt="picture").prod__img
		.prod__footer
			p.prod__title Противотаранные барьеры
.prod
	a(href="#").prod__item
		.prod__pic
			img(src="static/img/prod/03.jpg", alt="picture").prod__img
		.prod__footer
			p.prod__title Противотаранные барьеры

.prod
	a(href="#").prod__item
		.prod__pic
			img(src="static/img/prod/04.jpg", alt="picture").prod__img
		.prod__footer
			p.prod__title Противотаранные барьеры


