.prod.mod-proekt
	.prod__item
		a(href="#").prod__pic
			img(src="static/img/proekt/01.jpg", alt="picture").prod__img
		.prod__footer
			a(href="#").prod__title Противотаранные барьеры
			p.desc-l парковочные детали
			p.prod__com
				img(src="static/svg/icon-com.svg", alt="").icon-com
				a(href="#").prod__link Прочитать отзыв
.prod.mod-proekt
	.prod__item
		a(href="#").prod__pic
			img(src="static/img/proekt/02.jpg", alt="picture").prod__img
		.prod__footer
			a(href="#").prod__title ТЦ Мебельный базар (Н.Новгород)
			p.desc-l парковочные детали
			p.prod__com
				img(src="static/svg/icon-com.svg", alt="").icon-com
				a(href="#").prod__link Прочитать отзыв
.prod.mod-proekt
	.prod__item
		a(href="#").prod__pic
			img(src="static/img/proekt/03.jpg", alt="picture").prod__img
		.prod__footer
			a(href="#").prod__title Противотаранные барьеры
			p.desc-l парковочные детали
			p.prod__com
				img(src="static/svg/icon-com.svg", alt="").icon-com
				a(href="#").prod__link Прочитать отзыв

